$fc-event-title-padding-y: 0.2rem !default;
$fc-event-title-padding-x: 0.3rem !default;

$fc-daygrid-event-border-radius: 0.35rem !default;
$fc-theme-standard-dark-border-color: rgba($secondary, 0.3) !default;
